<div class="cv-container">
  <div class="text-container">
    <h2>Mon CV</h2>
    <p>Je suis Alexandre Benachir, un passionné d'informatique avec une solide base théorique. Découvrez mon parcours et mes compétences en consultant mon CV ci-dessous.</p>
    <a href="images/CV.pdf" download="CV_Benachir_Alexandre.pdf" class="btn btn-primary download-btn">
      Télécharger mon CV
    </a>
  </div>

  <div class="cv-image-wrapper">
    <img src="images/CV.jpg" alt="CV de Benachir Alexandre" class="cv-photo">
  </div>
</div>
