.cv-container {
  max-width: 1300px;
  margin: 10px auto;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 200px;
}

.text-container {
  flex: 1;
  max-width: 500px;
  justify-content: flex-start; /* Aligner le texte en haut */
  margin-top: 120px;
}

.text-container h2 {
  color: #8B4513;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.text-container p {
  color: #333;
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.download-btn {
  font-size: 1.2rem;
  padding: 10px 20px;
  background-color: #8B4513;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 20px;
  transition: background-color 0.3s, transform 0.3s;
}

.download-btn:hover {
  background-color: #a0522d;
  transform: translateY(-2px);
}

.cv-image-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 8px;
}

.cv-photo {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.cv-photo:hover {

  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
