.contact-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
}

h2 {
  text-align: center;
  color: #8B4513;
}

.form-group {
  margin-bottom: 15px;
}

.btn-primary {
  display: block;
  width: 100%;
  background-color: #8B4513;
  border-color: #8B4513;
  color: white;
}

.form-row {
  display: flex; /* Utilisation de flexbox pour aligner les éléments */
  justify-content: space-between; /* Espacement entre les colonnes */
}

.form-group.col {
  flex: 1; /* Chaque champ prend une largeur égale */
  margin-right: 10px; /* Ajout d'un espace entre les champs */
}

.form-group.col:last-child {
  margin-right: 0; /* Supprime la marge à droite pour le dernier champ */
}
