/* You can add global styles to this file, and also import other style files */



body {
  background-color: #EAE6E1; /* Couleur de fond de la page */
  margin: 0; /* Supprime les marges par défaut */
  font-family: 'Playfair Display', serif;
}

